* {
    margin: 0;
    overflow: hidden;
    padding: 0;
}

html,
body {
    font-family: Open Sans;
    font-style: normal;
    height: 100%;
}

.header {
    width: 100%;
    height: 120px;
    background-color: #282828;
    position: relative;
}

.header .tab {
    width: fit-content;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    color: white;
    font-weight: 300;
    margin: 0 auto;
    border-bottom: 2px solid #0BAACD;
}

.title {
    color: white;
    background-color: #808080;
    width: 100%;
    height: 38px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    position: relative;
}

.title p {
    position: absolute;
    top: 50%;
    left: 80px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.status {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    background: #F1F1F1;
    box-shadow: 0px 0px 2px 1px rgba(154, 154, 154, 0.5);
    border-radius: 8px;
    padding: 13px 22px;
    width: 90%;
    margin: 32px auto;
}

.status span {
    line-height: 24px;
    border-right: 1px solid #B8B8B8;
    padding-right: 16px;
}

span+span {
    padding-left: 16px;
}

.date {
    margin: 0px 8px;
    vertical-align: middle;
    display: inline-block;
    width: 167px;
    background-color: white;
    color: black;
    text-align: center;
    line-height: 22px;
    border-radius: 8px;
}

.device_status {
    vertical-align: middle;
    display: inline-block;
    margin-left: 8px;
}

.bullet {
    margin-left: 20px;
    height: 23px;
    width: 23px;
    vertical-align: middle;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}

.grid-layout {
    overflow: visible;
    border-radius: 8px;
    width: 543px;
    height: 300px;
    margin: 0px auto;
    margin-bottom: 30px;
    width: 90%;
    padding: 0px 22px;
    display: grid;
    grid-row-gap: 1px;
    grid-template-columns: 47.5% auto 52%;
}

.graph{
    background: #FFFFFF;
    box-shadow: 0px 0px 2px 1px rgba(154, 154, 154, 0.6);
    width: 100%;
    margin-left: -22px;
    border-radius: 8px;
    padding: 10px 0px;
    font-size: 18px;
}

.graph > .title-layout, .table > .title-layout{
    border-bottom: 1px solid #C7C7C7;
    margin: auto;
    width: 95%;
    padding-bottom: 8px;
}

.vl{
    border-right: 1px solid #C7C7C7;
    width: 1px;
}

.tableVal{
    overflow: visible;
    width: 100%;
    margin-left: 20px;
}

.table{
    background: #FFFFFF;
    box-shadow: 0px 0px 2px 1px rgba(154, 154, 154, 0.6);
    width: 100%;
    border-radius: 8px;
    padding: 10px 0px;
    height: 80%;
    font-size: 18px;
}

.value{
    margin: auto;
    width: 95%;
    font-size: 12px;
}

.val span + span{
    margin-left: 90px;
}

.val{
    margin-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #C7C7C7;
}

.val:last-child{
    border: none;
}